.users-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  padding: 1.2rem;
}
.users-card {
  border: 2px solid #3b3b3b;
  background-color: white;
  border-radius: 35px;
  padding: 1.2rem;
  text-align: center;
  align-items: center;
}

.users-card img {
  max-width: 100%;
  height: auto;
}
